<div class="widget text-center mt-5 mt-md-0">
    <%= image_tag 'author.jpg', alt: '', class: 'author-thumb-sm rounded-circle d-block mx-auto' %>                        
    <h2 class="widget-title text-white d-inline-block mt-4">Narciso Perez</h2>
    <p class="mt-4">Hi! You're here beacause of interest of Art? So I do a lot of paintings and you can spent some time reviewing my works. Please enojoy! If you have any questions you can contact me any way you prefer.</p>
    <ul class="list-inline mt-3">
        <li class="list-inline-item">
            <a href="https://wa.me/+18296294794" target="_blank" class="text-white text-primary-onHover p-2">
                <span class="bi-whatsapp"></span>
            </a>
        </li>        <li class="list-inline-item">
            <a href="https://www.facebook.com/narciso.perez.3950178" target="_blank" class="text-white text-primary-onHover p-2">
                <span class="bi-facebook"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com" target="_blank" class="text-white text-primary-onHover p-2">
                <span class="bi-instagram"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="mailto:narciso@perez.do" class="text-white text-primary-onHover p-2">
                <span class="bi-envelope-fill"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="tel:+18098628384" class="text-white text-primary-onHover p-2">
                <span class="bi-telephone-fill"></span>
            </a>
        </li>
    </ul>
</div>

<div class="widget bg-dark p-4 text-center">
    <h2 class="widget-title text-white d-inline-block mt-4">Subscribe Blog</h2>
    <p class="mt-4">Lorem ipsum dolor sit coectetur elit. Tincidu nfywjt leo mi, urna. Arcu ve isus, condimentum ut vulpate cursus por.</p>
    <form action="#">
        <div class="form-group">
        <input type="email" class="form-control bg-transparent rounded-0 my-4" placeholder="Your Email Address">
    </form>
</div>