<!-- start of mobile-nav -->
<header class="mobile-nav pt-4">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="col-6">
                <%= link_to root_path do %>
                    <%= image_tag "logo.png" %>
                <% end %>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <button class="nav-toggle bg-transparent border text-white d-flex justify-content-center align-items-center">
                    <span class="bi bi-list mx-0"></span>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="nav-toggle-overlay"></div>
<!-- end of mobile-nav -->