<div class="flex">
  <h2>New Painting</h2>
  <p class="my-2">First you name your painting. Fill the form.</p>
  <%= render 'form' %>
  <p class="mb-2">Save it. And then go to EDIT it for uploading images.</p>
</div>