<div class="flex">
  <h2><%= t('paintings.new.new_painting') %></h2>
  <p class="my-2"><%= t('paintings.new.first_you_name') %></p>
  <%= render 'form' %>
  <p class="mb-2"><%= t('paintings.new.save_and_edit') %></p>
</div>
